* {
  margin: 0;
  padding: 0;
border: 1px solid black;
}

html {
  height: 100%;
}

body {
  height: inherit;
}

#reactBody {
  height: inherit;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgb(78, 145, 231);
}

#reactBody > * {
width: 100%;
}

.main {
height: 90%;
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.beaconForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* -----------------------upload file button styling------------------- */

.imageBox {
display: flex;
flex-direction: row;
  border: 1px solid red;
}

.fileContainer {
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  width: 10vw;
  height: 10vh;
  background: white;
  color: black;
  border-radius: 2px;
  cursor: pointer;
}


/* .fileContainer:hover {
  opacity: 0.8;
} */

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}



/* ------------------------------------------------------------------ */

footer {
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
