* {
  margin: 0;
  padding: 0;

}

html {
  height: 100%;
}

body {
  height: inherit;
}

#reactBody {
  height: inherit;
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgb(78, 145, 231);
}

#reactBody > * {
width: 100%;
}

.main {
height: 90%;
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.beaconForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
